{% extends "layout.html" %}

{% block content %}
    <div class="centered-menu">
        <!-- Dropdown Menu -->
        <div class="dropdown">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
                <a href="/">Home</a>
                <a href="/blog">Blog</a>
                <a href="/about">About</a>
                <a href="/photography">Photography</a>
            </div>
        </div>
    </div>

    <!-- Blog content goes here -->
{% endblock %}
